html {
	padding: 0;
	font-size: 16px;
}

body {
	background-color: #362E2E;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(9,8,8,0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(9,8,8,0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(9,8,8,0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(9,8,8,0.5);
}
input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #CDCDCD;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #CDCDCD;
}
input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #CDCDCD;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: #CDCDCD;
}

button.button > svg.right-arrow, button.button > svg.up-arrow {
	position: absolute;
}
button.button > svg.right-arrow {
	top: 0.6875rem;
	left: 0.9375rem;
	height: 0.875em;
	width: 0.5em;
}
button.button:active > svg.right-arrow, button.button:focus > svg.right-arrow {
	top: 0.5625rem;
	left: 0.8125rem;
}
button.button > svg.up-arrow {
	top: 0.8125rem;
	left: 0.6875rem;
	width: 0.875em;
	height: 0.5em;
}
button.button:active > svg.up-arrow, button.button:focus > svg.up-arrow {
	top: 0.6875rem;
	left: 0.5625rem;
}
button.button {
	outline: none;
	position: relative;
	padding: 0;
	font-size: 100%;
	border: 0;
	border-radius: 100%;
	background: 0;
	background-color: #7ED321;
	width: 2.25rem;
	height: 2.25rem;
}
button.button:hover {
	background-color: #008EFC;
}

button.button:active, button.button:focus {
	border: 0.125rem solid #CDCDCD;
}

input.input-field {
	outline: 0;
	font-weight: 400;
	display: block;
	background: 0;
	border: 0;
	margin: 0;
	color: rgba(9,8,8,0.5);
	background-color: #CDCDCD;
	padding: 0.3125rem 0.75rem;
	border-radius: 1.125rem;
	box-sizing: border-box;
	border: 0.125rem solid transparent;
}
input.input-field:focus {
	background-color: #444444;
	color: #ffffff;
	border-color: #CDCDCD;
}


section.message-page, section.dash-page, section.chat-page, section.new-chat-page {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 6.375rem calc(100vh - 10.125rem) 3.75rem;
}

section.dash-page {
	grid-template-rows: 3.5625rem calc(100vh - 9.3125rem) 5.75rem;
}

section.chat-page {
	grid-template-rows: 6.375rem calc(100vh - 10.125rem) 3.75rem;
}

section.new-chat-page {
	grid-template-rows: 6.375rem calc(100vh - 10.125rem) 3.75rem;
}

header {
	z-index: 1;
	box-shadow: 0 0 0.625rem #362E2E;
}
nav.main-nav {
	display: grid;
	grid-template-columns: 6.875rem 1fr 6.875rem;
	line-height: 1.25;
	font-size: 1rem;
	font-weight: 700;
	background-color: #362E2E;
}
nav.main-nav a, nav.main-nav p {
	padding: 1.0625rem 0.9375rem 1.25rem 0.9375rem;
}
nav.main-nav a {
	align-self: center;
	color: #fff;
}
nav.main-nav a:hover {	
	color: rgba(205,205,205,1);
}
nav.main-nav p {
	align-self: center;
	text-align: center;
	color: #7ED321;
	display: block;
}
nav.main-nav a.log-out {
	color: rgba(205,205,205,0.5);
	align-self: center;
	text-align: right;
}
nav.main-nav a.log-out:hover {
	color: rgba(205,205,205,1);
}



.plus-icon {
	position: absolute;
	top: 0.875rem;
	right: 0.9375rem;
	display: block;
	height: 1.0625rem;
}

main.message-list > section {
	padding: 0.9375rem;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	grid-row-gap: 0.9375rem;
}
main.message-list {
	overflow: scroll;
}


div.message, div.message-mine {
	grid-column-start: 1;
	grid-column-end: 8;
	border-radius: .5rem;
	padding: 0.5rem 0.875rem 0.8125rem;
	background-color: #CDCDCD;
}
div.message-mine {
	grid-column: 2/9;
	background-color: #7ED321;
}
div.message h4, div.message-mine h4 {
	line-height: 1.40625;
	font-size: 0.8rem;
	color: rgba(9,8,8,0.5);
	margin-bottom: 0.625rem;
}
div.message p, div.message-mine {
	line-height: 1.25;
	color: rgba(9,8,8,1);
}

footer {
	z-index: 1;
	box-shadow: 0 0 0.625rem #362E2E;
}

footer.message-form h3 {
	font-size: 0.8rem;
	font-style: italic;
	color: #444444;
	line-height: 1.25;
	display: block;
	background-color: #fff;
	padding: 0.4375rem 0.9375rem 0.5625rem;
}

form.message-form, form.access-form {
	display: grid;
	grid-column-gap: 0.625rem;
	grid-template-columns: 1fr 2.25rem;
	background-color: #362E2E;
	padding: 0.75rem 0.9375rem;
}

main.chat-list {
	overflow: scroll;
}
div.chat-tile {
	border-bottom: 1px solid #444444;
	background-color: #CDCDCD;
}
div.chat-tile a {
	padding: 1.0625rem 0.9375rem 1.25rem;
	display: block;
	width: 100%;
	text-align: left;
	color: rgba(9,8,8,1);
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.25;
}

form.search-form {
	display: grid;
	grid-template-columns: 1fr;
	background-color: #362E2E;
	padding: 0.75rem 0.9375rem;
}

form.access-form {
	margin-top: 2rem;
	grid-column-gap: 0.625rem;
	grid-row-gap: 0.9375rem;
}
form.access-form > input {
	grid-column: 1/3;
}
form.access-form > input:last-of-type {
	grid-column: 1/2;
}
